*{
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;

}

#tetris{
    margin: auto;
    width:300px;
    text-align: center;
    color: rgb(231, 231, 231);
}

#buttons{
    margin: auto;
    margin-bottom: 30px;
    width:300px;
    text-align: center;
}

#container{
    /* background-color:rgb(255, 255, 255); */
    width:300px;
    height: 600px;
    margin: auto;
}


#play-btn{
    background-color:rgb(236, 251, 255);
    width:100px;
    height: 30px;
}

#play-btn:hover{
    background-color:rgb(217, 244, 255);
    width:120px;
    height: 30px;
}

#play-btn:active{
    background-color:rgb(183, 198, 218);
    width:100px;
    height: 30px;
}

td {
    background-color: aquamarine;
    height: 25px;
    width: 25px;
}

.none{
    display: none;
}